/* Wrapper component - CSS is delegated to mobile/desktop components */
app-mobile-listing-details {
  display: block;
  width: 100%;
  height: 100%;
}

app-desktop-listing-details {
  display: block;
  width: 100%;
  height: 100%;
}
