/* Wrapper component - CSS is delegated to mobile/desktop components */
app-mobile-listings {
  display: block;
  width: 100%;
  height: 100%;
}

app-desktop-listings {
  display: block;
  width: 100%;
  height: 100%;
}
